@font-face {
    font-family: "Gilroy";
    src: local("Gilroy Light"), local("Gilroy-Light"), 
        url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans Light"), local("OpenSans-Light"), 
        url("../fonts/opensanslight.woff2") format("woff2"), 
        url("../fonts/opensanslight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: local("Open Sans"), local("OpenSans"), 
        url("../fonts/opensans.woff2") format("woff2"), 
        url("../fonts/opensans.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

*, :before, :after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    width: 100%;
    min-width: 1200px;
}

body {    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.15px;
    color: #000000;

    background-color: #ffffff;
    
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
    
    text-transform: uppercase;
    text-decoration: none;
    
    background: linear-gradient(to bottom, transparent 0px, transparent 16px, 
        #f0c52e 16px, #f0c52e 24px, transparent 24px, transparent 40px);
    border: none;
    
    cursor: pointer;
    
    width: 220px;
    height: 40px;
}

.btn:hover,
.btn:focus {
    background: #f0c52e;
} 

.btn:active {
    color: rgba(0, 0, 0, 0.3);
    
    background: #f0c52e;
}

.main-header {
    margin-top: 40px;
}

.main-header-wrapper {
    padding: 37px 60px 37px 60px;
    
    background-color: #f7e296;
}

.header-logo {
    position: absolute;
    top: 23px;
}

.logo {
    cursor: pointer;
}

.logo:hover,
.logo:focus {
    opacity: 0.6;
}

.logo:active {
    opacity: 0.3;
}

.user-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 30px;
}

.search-form {
    position: relative;
    
    width: 440px;
}

.search-form input {
    font: inherit;
    font-size: 15px;
    line-height: 36px;
    opacity: 0.3;
    
    background-color: transparent;
    border: 2px solid transparent;
    
    width: 100%;
    
    padding: 5px 100px 5px 40px;
    
    outline: none;
}

.search-form input:hover {
    opacity: 0.6;
}

.search-form input:focus {
    opacity: 1;
    
    border-bottom: 2px solid #000000;
}

.search-icon {
    content: "";
    
    position: absolute;
    bottom: 18px;
    left: 3px;
    
    background: url("../img/navigation/search.svg") 0 0 no-repeat;
    
    width: 20px;
    height: 16px;
}

.btn-search {
    position: absolute;
    top: 0;
    right: 0;
    
    opacity: 0;
    font: inherit;
    line-height: 36px;
    
    background-color: transparent;
    border: 2px solid #000000;

    margin: 0;
    padding: 5px 20px;
}

.btn-search:hover {
    color: #ffffff;
    background-color: #000000;
}


.btn-search:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #000000;
}

.search-form input:focus + .btn-search {
    opacity: 1;
    cursor: pointer;
}

.header-user-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 500px;
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-user-action li {
    position: relative;
    
    margin: 0;
    padding: 0;
}

.header-user-action li:last-child,
.header-user-action li:nth-child(5n) {
    padding-right: 0;
}

.header-user-action a {
    color: #000000;
    line-height: 36px;
    
    text-decoration: none;
    padding-left: 25px;
}

.header-user-action a:hover,
.header-user-action a:focus {
    opacity: 0.6;
}

.header-user-action a:active {
    opacity: 0.3;
}

.user-block {
    display: flex;
    flex-wrap: wrap;
    
    width: 240px;
}

.product-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    width: 260px;
}

.product-block li {
    margin-left: 40px;
}

.login-link:before {
    content: "";
    
    position: absolute;
    top: 13px;
    left: 0;
    
    background: url("../img/navigation/user.svg") 0 0 no-repeat;
    
    width: 13px;
    height: 12px;
}

.login-exit {
    opacity: 0.3;
}

.login-exit.disabled {
    display: none;
}

.product-block .compare-goods:before {
    content: "";
    
    position: absolute;
    top: 13px;
    left: 0px;
    
    background: url("../img/navigation/compare.svg") 0 0 no-repeat;
    
    width: 10px;
    height: 10px;
}

.product-block .user-cart:before {
    content: "";
    
    position: absolute;
    top: 13px;
    left: 0px;
    
    background: url("../img/navigation/cart.svg") 0 0 no-repeat;
    
    width: 12px;
    height: 12px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.main-nav a {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #000000;
    
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav a:hover,
.main-nav a:focus {
    opacity: 0.6;
}

.main-nav a:active {
    opacity: 0.3;
}

.catalog-nav {
    position: relative;
    width: 540px;
    
    margin: 0;
    padding: 0;
}

.open-catalog {
    position: relative;
    width: 260px;
    height: auto;
    
    padding-right: 32px;
}

.open-catalog:after {
    content: "";
    
    position: absolute;
    top: 2px;
    right: 0;
    
    background: url("../img/navigation/plus.svg") 0 0 no-repeat;
    
    width: 16px;
    height: 16px;
}

.open-catalog:hover + .submenu-catalog {
    display: block;
}

.submenu-catalog {
    display: none;
    
    position: absolute;
    top: 23.5px;
    left: -60px;
    z-index: 999;
    
    background-color: #f7e296;
    
    width: 1160px;
    height: 163px;
    
    padding: 26px 400px 26px 60px;
    margin: 0;
    
    list-style: none;
}

.submenu-catalog li {
    display: inline-block;
    vertical-align: baseline;
    
    width: 200px;

    padding: 0;
    margin: 0;
}

.submenu-catalog li:nth-child(3n+1) {
  margin-right: 40px;
}

.submenu-catalog li:last-child {
    display: block;
    margin-right: 440px;
}

.submenu-catalog a {
    display: block;
    
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    font-weight: 300;
    letter-spacing: 0.15px;
    color: #000000;
    
    text-transform: none;
}

.services-nav {
    display: flex;
    justify-content: space-between;
    
    width: 500px;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.services-block {
    display: flex;
    flex-wrap: wrap;
    
    width: 300px;
}

.services-block li {
    padding-right: 35px;
}

.services-block li:last-child {
    padding-right: 0;
}

.services-nav .contacts {
    margin-right: -3px;
}

.slider {
    position: relative;
    z-index: 2;
    
    background: linear-gradient(to bottom, #f7e296 129px, #ffffff 129px);
    min-height: 612px;
    
    padding-top: 18px;
    padding-bottom: 106px;
    padding-right: 60px;
    padding-left: 31px;
}

.slider-list {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.slide {
    position: relative;
    z-index: 2;
    
    display: flex;
    justify-content: space-between;
}

.slide {
    display: none;
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 529px;
}

.slide-item-info {
    width: 500px;
}

.slide .slide-number {
    position: absolute;
    top: -15px;
    right: -10px;
    z-index: 1;
    
    display: block;
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-weight: 800;
    font-size: 179.2px;
    line-height: 179.2px;
    color: #ffffff;
    
    margin: 0;
    padding: 0;
}

.slide b {
    position: relative;
    z-index: 2;
    
    display: block;
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 47px;
    
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
    padding-top: 80px;
}

.slide b:before {
    content: "";
    
    position: absolute;
    top: 38px;
    
    width: 100px;
    height: 7px;
    
    background-color: #ffffff;
}

.slide p {
    color: #464646;
    line-height: 30px;
    
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
}

.slide-btn {
    margin-bottom: 47px;
}

.slide-table td {
    padding-right: 75px;
    padding-bottom: 8px;
}

.slide-table td:last-child {
    padding-right: 0;
}

.slide th {
    font: inherit;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.13px;
    color: #464646;
}

.slide tr {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 0.36px;
    color: #000000;
}

.slider-controls {
    position: absolute;
    z-index: 10;
    top: 347px;
    right: 80px;
    
    font-size: 0;
}

.slider-controls-item {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 21px;
    
    background: url("../img/slider-button-empty.svg") 0 0 no-repeat;
    
    cursor: pointer;
}

.slider-controls-item:last-child {
    margin-right: 0;
}

#product-1:checked ~ .slider-controls .slider-controls-item:nth-of-type(1),
#product-2:checked ~ .slider-controls .slider-controls-item:nth-of-type(2),
#product-3:checked ~ .slider-controls .slider-controls-item:nth-of-type(3) {
    background: url("../img/slider-button.svg") 0 0 no-repeat;
}

#product-1:checked ~ .slider-list #slide-1,
#product-2:checked ~ .slider-list #slide-2,
#product-3:checked ~ .slider-list #slide-3 {
    display: flex;
    justify-content: space-between;
}

.list-sections {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    padding-bottom: 80px;
    
    list-style: none;
}

.list-sections a {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.18px;
    color: #000000;
    
    text-decoration: none;
}

.list-sections .section-img-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #f7e296;
        
    width: 160px;
    height: 160px;
    
    padding: 0;
    margin: 0;
    margin-bottom: 36px;
}

.catalog-section {
    cursor: pointer;
    
    width: 160px;
}

.catalog-section:hover .section-img-bg,
.catalog-section:focus .section-img-bg {
    background-color: #f0c52e;
}

.catalog-section:active img {
    opacity: 0.3;
}


.catalog-section:active a {
    opacity: 0.3;
}

.slider-services {
    min-height: 388px;
    
    background: linear-gradient(to bottom, #ffffff 100px, #e5e5e5 100px);
    
    padding-top: 70px;
}

.slider-services-wrapper {
    position: relative;
    
    display: flex;
    justify-content: space-between;
}

.slider-services-controls {
    position: relative;
    top: 10px;
}

.slider-services-controls:after {
    content: "";
    
    position: absolute;
    top: -80px;
    right: 0;
    width: 7px;
    height: 319px;
    
    background-color: black;
}

.service-slide {
    display: none;
    width: 880px;
    
    padding-left: 120px;
    padding-right: 60px;
    padding-bottom: 69px;
}

.service-slide-content {
    width: 460px;
}

.service-icon {
    margin: 0;
    margin-top: 15px;
    margin-right: 6px;
    padding: 0;
}

.delivery-icon {
    display: block;
    
    background: url("../img/services/delivery.svg") center no-repeat;
    width: 136px;
    height: 164px;
}

.credit-icon {
    display: block;
    
    background: url("../img/services/credit.svg") center no-repeat;
    width: 156px;
    height: 188px;
}

.warranty-icon {
    display: block;
    
    background: url("../img/services/warranty.svg") center no-repeat;
    width: 171px;
    height: 195px;
}

.slider-services ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slider-services h3 {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 0.15px;
    color: #000000;
    
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
}

.slider-services p {
    color: #464646;
    line-height: 30px;
}

.btn-service {
    width: 160px;
    
    margin-bottom: 25px;
}

.btn-service:last-of-type {
    margin-bottom: 0;
}

#service-1:checked ~ .slider-services-controls .btn-service:nth-of-type(1),
#service-2:checked ~ .slider-services-controls .btn-service:nth-of-type(2),
#service-3:checked ~ .slider-services-controls .btn-service:nth-of-type(3) {
    justify-content: flex-start;
    
    color: #f7e184;
    background: #000000;
    width: 280px;
    
    padding-left: 25px;
}

#service-1:checked ~ .slider-services-list #service-slide-1,
#service-2:checked ~ .slider-services-list #service-slide-2,
#service-3:checked ~ .slider-services-list #service-slide-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.producers-list {
    display: flex;
    justify-content: space-between;
    
    list-style: none;
    margin: 0;
    padding: 95px 0;
}

.producer-logo a {
    display: block;
    
    width: 260px;
    height: 100px;
}

.dgi-logo {
    background-image: url("../img/producers/dji.jpg");
}

.sp-gadgents-logo {
    background-image: url("../img/producers/sp-gadgets.jpg");
}

.go-pro-logo {
    background-image: url("../img/producers/gopro.jpg");
}

.vive-logo {
    background-image: url("../img/producers/vive.jpg");
}

.dgi-logo:hover {
    background-image: url("../img/producers/dji-1.jpg");
}

.sp-gadgents-logo:hover {
    background-image: url("../img/producers/sp-gadgets-1.jpg");
}

.go-pro-logo:hover {
    background-image: url("../img/producers/gopro-1.jpg");
}

.vive-logo:hover {
    background-image: url("../img/producers/vive-1.jpg");
}

.index-columns {
    position: relative;
    
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 82px;
    
    min-height: 654px;
}

.index-columns h2 {
    position: relative;
    
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-weight: 800;
    font-size: 47px;
    letter-spacing: 0.15px;
    color: #000000;
    
    margin: 0;
    margin-bottom: 37px;
    padding: 0;
    padding-top: 53px;
}

.index-columns h2:before {
    content: "";
    
    position: absolute;
    top: 0;
    
    width: 80px;
    height: 7px;
    background-color: #000000;
}

.index-columns p {
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #464646;
    
    margin: 0;
    padding: 0;
    margin-bottom: 31px;
}

.about-us {
    width: 478px;
}

.about-us p:last-of-type {
    margin-bottom: 68px;
}

.contacts {
    width: 560px;
}

.contacts p:last-of-type {
    margin-bottom: 40px;
}

.transport-companies {
    list-style: none;
    
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #000000;
    
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.transport-companies li {
    position: relative;

    margin: 0;
    padding: 0;
    padding-left: 35px;
}

.index-columns .map {
    margin-bottom: 45px;
}

.transport-companies li:before {
    content: "";
    
    position: absolute;
    top: 17px;
    left: 0;
    
    width: 8px;
    height: 8px;
    
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.index-columns .btn {
    position: absolute;
    bottom: 83px;
    
    width: 260px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
    
    width: 960px;
    
    background-color: #ffffff; 
}

/*
.modal:after {
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    
    width: 960px;
    height: 436px;
    background-color: pink; 
    
    box-shadow: 0 10px 40px -20px rgba(0, 0, 0, 0.75)
}
*/


.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;
    
    width: 55px;
    height: 55px;
    font-size: 0;
    
    background-color: rgb(240, 197, 46);
    opacity: 0.5;
    border: none;
    border-radius: 50%;
    
    cursor: pointer;
}

.modal-close:before,
.modal-close:after {
    content: "";
    
    position: absolute;
    left: 13px;
    
    display: block;
    width: 30px;
    height: 3px;
   
    background-color: #ffffff;
}

.modal-close:before {
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.modal-message {
    display: none;
    
    height: 553px;
    
    margin: 0;
    margin-top: -276px;
    margin-left: -480px;
    padding: 95px 100px 78px;
    
    box-shadow: 0px -5px 40px -20px rgba(0, 0, 0, 0.3), 
                0px 20px 40px -10px rgba(0, 0, 0, 0.2),
                55px 0px 70px -60px rgba(0, 0, 0, 0.75),
                -55px 0px 70px -60px rgba(0, 0, 0, 0.75);
}

.message-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.message-item-form {
    display: block;
    width: 360px;
    
    padding: 0;
    margin: 0;
}

.message-form input {
    width: 360px;
    padding: 16px 20px;
}

.message-form input,
.message-form textarea {
    font-family: inherit;
    font-size: 14px;
    color: rgba(70, 70, 70, 0.4);
    
    line-height: 18px;
    
    background-color: #f2f2f2;
    border: 2px solid transparent;
    
    margin-top: 10px;
}

.message-form input:hover,
.message-form textarea:hover {
    background-color: #eaeaea;
}

.message-form input:focus,
.message-form textarea:focus {
    background-color: transparent;
    border: 2px solid #faebb8;
    color: #464646;
}

.message-form input:invalid {
    background-color: rgba(237, 181, 181, 0.5);
    border: 2px solid #faebb8;
}

.message-item-form {
    margin-bottom: 36px;
}

.message-item-form label {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 18px;
    line-height: 18px;
    
    padding-bottom: 8px;
}   

.message-area {
    display: block;
    width: 760px;
    
     margin-bottom: 42px;
}

.message-item-form textarea {
    width: 760px;
    height: 156px;

    padding: 17px 20px;
        
    resize: none;
}

.btn-message {
    width: 200px;
}

.modal-map {
    display: none;
    
    height: 559px;
    
    margin: 0;
    margin-top: -279px;
    margin-left: -480px;
    
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.page-title {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 47px;
    
    margin: 0;
    margin-top: 37px;
    margin-bottom: 25px;
    padding: 0;
    padding-left: 60px;
}

.breadcrumbs {
    display: flex;
    
    list-style: none;
    
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    padding-left: 60px;
}

.breadcrumbs li {
    position: relative;
    
    font-size: 14px; 
    line-height: 36px;
    
    margin-right: 19px;
    padding-right: 23px;
}

.breadcrumbs li:not(:last-child):after {
    content: "";
    
    position: absolute;
    top: 14px;
    right: 0;
    
    width: 4px;
    height: 7px;
    
    background: url("../img/navigation/nav-arrow.svg") 0 0 no-repeat;
}

.breadcrumbs li:first-child {
    padding-left: 0;
}

.breadcrumbs-current {
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1);
}

.catalog-titles {
    width: 100%;
    overflow: hidden; 
    
    background: #ebebeb;
    background: linear-gradient(to right, #dbdbdb 0%,#dbdbdb 49%,#ebebeb 50%,#ebebeb 100%);
}

.catalog-titles .container {
    display: flex;
}

.catalog-titles h3 {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 16px;
    letter-spacing: 3.6px;
    
    text-transform: uppercase;
}

.filter-title {
    background-color: #dbdbdb;
        
    width: 268px;
    
    margin: 0;
    margin-left: 60px;
    padding-top: 24px;
    padding-right: 68px;
    padding-bottom: 26px;
}

.catalog-sort {
    display: flex;
    justify-content: space-between;
    
    width: 832px;
    min-height: 19px;
    padding-left: 72px;
    padding-top: 24px;
    padding-bottom: 26px;
    background-color: #ebebeb;
}

.sort-title {
    margin: 0;
    margin-right: 51px;
}

.sort-option-types {
    width: 500px;
}

.sort-option-types a {
    margin-right: 31px;
}

.catalog-content .container {
    display: flex;
}

.catalog-content {
    width: 100%;
    overflow: hidden; 
    
    background: #ebebeb;
    background: linear-gradient(to right, #efefef 0%,#efefef 49%,#ffffff 50%,#ffffff 100%);
}

.catalog-filters {
    background-color: #efefef;
        
    width: 268px;
    
    margin: 0;
    margin-left: 60px;
    padding-top: 24px;
    padding-right: 68px;
    padding-bottom: 26px;
}

.catalog-filters fieldset {
    border: none;
    
    margin: 0;
    margin-bottom: 41px;
    
    padding: 0;
}

.catalog-filters legend {
    position: relative;
    
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 18px;
    
    padding-top: 14px;
    padding-bottom: 25px;
}

.catalog-filters legend:before {
    content: "";
    
    position: absolute;
    top: 0;
    
    width: 200px;
    height: 2px;
    
    background-color: #000000;
}

.catalog-filters ul {
    list-style: none;
    
    margin: 0;
    padding: 0;
}

.catalog-filters label {
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.15px;
}

/*Ползунки*/

.range-controls {
    position: relative;
}

.range-controls .scale {
    width: 200px;
    height: 2px;
    
    margin-top: 10px;
    margin-bottom: 20px;

    background: #dbdbdb;
}

.range-controls .bar {
    width: 60%;
    height: 2px;

    background: #91c92f;
}

.range-controls .toggle {
    position: absolute;
    top: -10px;
    left: 0;
    
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: #d4d4d4;

    border: 8px solid #ffffff;
    border-radius: 50%;
    
    box-shadow: 0 2px 1px 0 #cfcfcf;
    
    cursor: pointer;
}

.range-controls .toggle-min {
  left: -8px;
}

.range-controls .toggle-max {
  left: 116px;
}

.price-controls {
    color: rgba(0, 0, 0, 0.25);
}

.price-controls .max-price {
    margin-left: 63px;
}

.filter-option {
    position: relative;
    
    padding-left: 40px;
}

/*Чекбокс для цвета*/

.filter-color label:before {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 0;
    
    width: 27px;
    height: 23px;
    
    background: url("../img/checkbox-off.svg") 0 0 no-repeat;
}

/*Выбранный чекбокс для цвета*/

.filter-input-checkbox:checked + label:before {
    background: url("../img/checkbox-on.svg") 0 0 no-repeat;
}

/*Нажатие на выбранный чекбокса для цвета*/

.filter-input-checkbox:not(:disabled):active + label:before {
    background: url("../img/checkbox-on.svg") 0 0 no-repeat;
    transform: rotate(45deg);
}

/*Чекбокс для Bluetooth*/

.filter-bluetooth label:before {
    content: "";
    
    position: absolute;
    top: 7px;
    left: 0;
    
    width: 25px;
    height: 25px;
    
    border: 4px solid #000000;
    border-radius: 50%;
}

/*Выбранный чекбокс для Bluetooth*/

.filter-input-radio:checked + label:after {
    content: "";
    
    position: absolute;
    top: 15px;
    left: 8px;
    
    width: 9px;
    height: 9px;
    
    border: 4px solid #000000;
    border-radius: 50%;
}

/*Наведение на чекбокс*/

.filter-option label:hover:before,
.filter-option label:hover:after {
    opacity: 0.6;
}

/*Чекбокс в фокусе*/

.filter-input:focus + label:before,
.filter-input:focus + label:after {
    opacity: 0.6;
}

/*Блокированный чекбокс*/

.filter-input:disabled + label,
.filter-input:disabled + label:before,
.filter-input:disabled + label:after {
    opacity: 0.25;
}

.catalog-sort a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 0.3;
    
    text-decoration: none;
    cursor: pointer;
}

.catalog-sort a:hover,
.catalog-sort a:focus {
    opacity: 0.6;
}

.catalog-sort a:active {
    opacity: 1;
}

.catalog-sort a.active {
    opacity: 1;
}

.catalog-items {
    background-color: #ffffff;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-left: 72px;
    
    list-style: none;
}

.catalog-list li {
    margin-right: 40px;
}

.catalog-list li:nth-child(2n) {
    margin-right: 0;
}

.catalog-item {
    position: relative;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    width: 360px;
    
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
}

.item-name {
    order: 2;
    
    width: 260px;
    
    margin: 0;
    padding: 0;
}

.item-name a {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 18px;
    letter-spacing: 0.18px;
    color: #000000;
    
    text-decoration: none;
}

.catalog-item-img {
    position: relative;
    
    width: 360px;
    height: 380px;
    
    order: 1;
    
    cursor: pointer;
    
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
}

.catalog-item-price {
    font-family: "Gilroy", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: right;
    
    width: 100px;
    order: 3;
    
    margin: 0;
    padding: 0;
}

.sticker {
    position: absolute;
    top: 29px;
    right: 27px;
    
    opacity: 0.2;
    
    width: 60px;
    height: 60px;
    
    border: 2px solid #000000;
    border-radius: 50%;
}

.sticker span {
    position: absolute;
    top: 20px;
    left: 12px;
    
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #000000;
    text-transform: uppercase;
}

.catalog-item-actions {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
    display: none;
    
    width: inherit;
    height: inherit;
    
    background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-actions button {
    outline: none;
}

.catalog-item-img:hover .catalog-item-actions,
.catalog-item-img:focus .catalog-item-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
   
.btn-to-cart {
    width: 200px;
}

.btn-to-compare {
    font: inherit;
    font-size: 13px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
    
    background-color: transparent;
    border: none;
    
    cursor: pointer;
}

.btn-to-compare:hover,
.btn-to-compare:focus {
    color: rgba(0, 0, 0, 1);
}

.btn-to-compare:active {
    color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    list-style: none;
    
    background-color: #ebebeb;
    
    width: 760px;
    height: 70px;
    
    padding: 0;
    margin: 0;
    margin-bottom: 70px;
    margin-left: 72px;
}

.page-number-wrapper {
    display: flex;
    justify-content: space-between;
    
    width: 85px;
}

.pagination-list a {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 16px;
    letter-spacing: 3.2px;
    color: #000000;
    
    text-transform: uppercase;
    text-decoration: none;
}

.btn-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 126px;
    height: inherit;
    
    cursor: pointer;
}

.btn-pagination:hover,
.btn-pagination:focus {
    background-color: rgba(0, 0, 0, 0.08);
}

.btn-pagination:active a {
    color: rgba(0, 0, 0, 0.3);
}

.pagination-item a { 
    opacity: 0.3;
}

.pagination-item a:hover,
.pagination-item a:focus { 
    opacity: 0.6;
}

.pagination-item a:active { 
    opacity: 1;
}

.main-footer {
    background-color: #464646;
}
.footer-wrapper {
    position: relative;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    
    padding: 0;
    padding: 65px 0;
}

.footer-wrapper:before {
    content: "";
    
    position: absolute;
    bottom: 79px;
    left: 0;
    
    width: 80px;
    height: 7px;
    
    background-color: #ffc600;
    
    pointer-events: none;
}


.footer-logo {
    margin-bottom: 29px;
}

.footer-user-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    width: 800px;
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.footer-user-action li {
    padding-left: 40px;
}

.footer-user-action a {
    position: relative;
    
    color: rgba(255, 255, 255, 0.7);
    line-height: 36px;
    
    text-decoration: none;
    
    padding-left: 25px;
}

.footer-user-action a:hover,
.footer-user-action a:focus {
    color: rgba(255, 255, 255, 1);
}

.footer-user-action a:active {
    color: rgba(255, 255, 255, 0.3);
}
 
.footer-user-action .login-link:before {
    content: "";
    
    position: absolute;
    top: 6px;
    left: 0;
    
    background: url("../img/navigation/footer-user.svg") 0 0 no-repeat;
    
    width: 13px;
    height: 12px;
}

.footer-user-action .compare-goods:before {
    content: "";
    
    position: absolute;
    top: 6px;
    left: 0;
    
    background: url("../img/navigation/footer-compare.svg") 0 0 no-repeat;
    
    width: 10px;
    height: 10px;
}

.footer-user-action .user-cart:before {
    content: "";
    
    position: absolute;
    top: 6px;
    left: 0;
    
    background: url("../img/navigation/footer-cart.svg") 0 0 no-repeat;
    
    width: 12px;
    height: 12px;
}

.footer-contacts {
    color: #ffffff;
    line-height: 30px;
    
    width: 360px;
    
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.footer-contacts:nth-of-type(2) {
    text-align: right;
}

.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 440px;
    
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu a {
    font-family: "Gilroy ExtraBold", "Arial Black", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 3.6px;
    color: #ffffff;
    
    text-transform: uppercase;
    text-decoration: none;
}

.footer-menu a:hover,
.footer-menu a:focus {
    opacity: 0.6;
}

.footer-menu a:active {
    opacity: 0.3;
}

.footer-social ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 140px;
    
    margin: 0;
    margin-left: 510px;
    padding: 0;
    
    list-style: none;
}

.social-btn {
    opacity: 0.3;
}

.social-btn:hover,
.social-btn:focus {
    opacity: 0.6;
}

.social-btn:active {
    opacity: 0.1;
} 

.footer-copyright {
    padding: 0;
    margin: 0;
}

.footer-copyright a:hover {
    opacity: 0.6;
}

.footer-copyright a:active {
    opacity: 0.3;
}







